/* header styles */
* {
    /* margin: 0 auto; */
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: F3F3F3;

}

header {
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;


}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
}

.nav-info {
    margin-right: 240px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav-info ul li {
    margin-left: 20px;
}

.banner-header {
    width: 860px;
    height: 225px;
    margin-top: 116px;
    margin-left: 529px;
    text-align: center;
}

.banner-title {
    font-weight: 700px;
    font-size: 64px;
}

.banner-description {
    font-size: 16px;
    margin-top: 20px;

}

.primary-button {
    background-color: #FF900E;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
}


.banner-img img {
    width: 1440px;
    height: 700px;
    border-radius: 5px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;
    margin-bottom: 45px;

}

/* ..................
......Main first section....... */
.main-first-section {
    display: flex;
}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-left: 301px;
    margin-top: 85px;
}

.team-features {
    margin-left: 73px;
    width: 537px;
    height: 304px;
    margin-top: 287px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
}

.list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-topics {
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}

.features-topic {
    font-weight: 600;
    font-size: 20px;

}

.features-description {
    color: #727272;
    margin-top: 24px;
}

/* ..................
......Main second section....... */
.main-second-section {
    width: 1440px;
    margin-left: 240px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.second-sections {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 54px;
}

.second-section {
    width: 586px;
    height: 982px;
}

.architect-img {
    position: relative;
    width: 800px;
    height: 1059px;
}

.architect-img .exp-btn {
    position: absolute;



}

.architect-img .primary-button {
    padding: 46px 42px;
    font-weight: 700;
    font-size: 65px;
    width: 342px;
    height: 200px;
    border-radius: 5px;

}

#exp {
    font-weight: 500;
    font-size: 25px;
}

/* main-second-section third part */

.third-part .features-description {
    width: 542px;
    height: 52px;
}


.facts-topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 124px;
    margin-left: 290px;
    text-align: center;



}

.topic {
    border: 2px solid #FF900E;
    border-radius: 8px;
    height: 241px;
    width: 241px;
    text-align: center;
    padding: 25px;
}

.sponspors {
    text-align: center;
    margin-left: 689px;
    width: 542px;
    height: 129px;
}

.sponspors-img {
    margin-left: 240px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponspors-img .img {
    mix-blend-mode: blue;
}

.footer p {
    text-align: center;
    color: #424242;
}

.footer-des {
    margin-left: 240px;
    background-color: #FFF4E7;
    margin-top: 130px;
    width: 1440px;
    height: 100px;
}